.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  background: #ffffff;
  border-radius: 2rem;
  padding: 2rem;
  max-width: 85%;
  margin-top: 5em;
  text-align: center;
  box-shadow: .5rem .5rem 4rem rgba(133, 183, 131, 0.903);
}

.btn {
  margin: .5rem;
  padding: .5rem;
  border-radius: 1rem;
  background-color: rgb(62, 135, 225);
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.751);
}
.btn:hover {
  background: #b88100;
  transform: scale(1.1);
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}
.title {
  display: block;
  margin:1rem;
  font-size: 3rem;
  font-weight: bold ;
  text-align: center;
  padding: 1rem;
}
.topTitle {
  display: block;
  margin:.5rem;
  font-size: 3rem;
  font-weight: bold ;
  text-align: center;
  padding: .5rem;
  border-radius: 2rem;
  box-shadow: .5rem .5rem 1rem #7b8880;
}
.joke {
  font-size: 1.3em;
  padding: 5px;
  margin-bottom: 10px;
}
.footer {
  text-align: center;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
  border-radius: 2rem;
  background-color: rgb(3, 82, 82);
}

